.post-container{
    border: 1px solid #e6e6e6;
    padding:10px;
}

.post-info-group{
    font-size: 12px;
    color: #8c8c8c;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 20px;
    padding-bottom: 10px;
}

.post-info-group span{
    margin-right: 20px;
}

.post-content{
    margin-top: 20px;
}

.post-content img{
    max-width: 100%;
}

.comment-group{
    margin-top: 20px;
    border:1px solid #e8e8e8;
    padding: 10px;
}

.add-comment-group{
    margin-top: 20px;
    padding: 10px;
    border:1px solid #e8e8e8;

}

.comment-btn-group{
    margin-top: 10px;
    text-align: right;
}