{% load staticfiles %}
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<script src="{% static 'js/zlajax.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
<script src="{% static 'js/sweetalert.min.js' %}"></script>
<script src="{% static 'js/zlalert.js' %}"></script>
